@import './constants.scss';
@import './layout.scss';

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.accent {
  color: $color-primary;
}


ul.links {
  list-style: none;
  margin-top: 1em;
  @media #{$small} {
    margin-top: 0;
  }
}

ul.links a {
  color: #777;
  text-decoration: none;
  border-right: 3px solid white;
  padding-right: 0.25em;

}
ul.links a.active {
  color: $color-primary;
  border-color: $color-primary;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.post{
  margin-top: 0.5rem;
}
.post .post-title h1 {
  margin-bottom: 0;
}
.post .post-title .meta {
  color: $color-text-gray;
  margin-bottom: 0.5em;
  * {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5rem;
    &:first-child {
      margin-left: 0;
    }
  }
}

.post-body {
  margin-top: 2rem;
}
.small-blog-post {
  margin-top: 3rem;
}
.small-blog-post:first-child{
  margin-top: 0;
}
.small-blog-post:last-child {
  margin-bottom: 3em;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-decoration: none;
}
.title-container img {
  display:none;
  height: 45px;
  border-radius: 100%;
  margin-bottom: 0;
}
a:hover, a:active, a:focus {
  .title {
    text-decoration: underline;
  }
}

.small-blog-post .title {
  color: $color-primary;
  text-decoration: none;
  font-size: 1.5em;
}
.small-blog-post .date {
  color: #999;
  font-size: 0.9em;
}
a:hover {
  .date {
    text-decoration: none !important;
  }
}

.small-blog-post .date:hover,
.small-blog-post .date:focus,
.small-blog-post .date:active {
  text-decoration: none;
}
.small-blog-post .description {
  margin-top: 0.5em;
}

.post {
  margin-bottom: 5rem;
}

.me .me-header {
  img {
    height: 50px;
    border-radius: 100%;
    margin:0;
    display: inline-block;
  }
  * {
    vertical-align: middle;
  }
  h1 {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0.5em;
  }
  .link-container {margin-top: 1em;}
  .link {
    padding-right: 1em;
    margin-right: 1em;
    border-right: 1px solid $color-text-gray;
    &:last-child {border-right: none;}
    &:hover,&:focus,&:active {
      text-decoration: underline;
    }
  }
}

.projects > * {
  margin: 1em;
}

.projects .sub {
  color: #777;
}
.projects h2 {
  margin: 0 0.5em 0.5em 0.5em;
}

.project {
  /*width: calc((100% / 3) - 2em);*/
  width: 100%;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 1em;
  margin: 1em;
  font-size: 0.8em;
  box-sizing: border-box;

  @media #{$small} {
    margin-left: 0;
    margin-right: 0;
  }
  h3 {
    font-size: 1.5em;
    margin-bottom: 0.25em;
  }
  p {
    margin-bottom: 0.15em;
  }
  .project-info {
    width: 55%;
    display: inline-block;
    vertical-align: top;
    @media #{$small} {
      font-size: 1.5em;
      width: 100%;
    }
  }
  img.lightbox-preview.small {
    display: none;
    margin-bottom: 0;
    @media #{$small} {
      display: block;
    }
  }
  img.lightbox-preview.big {
    width: 45%;
    cursor: pointer;

    @media #{$small} {
      display: none;
    }
  }

}

a {
  color: $color-primary;
  text-decoration: none;
}
// a:hover,a:focus,a:active {
//   text-decoration: initial;
// }
*:focus {
    outline: none;
}

blockquote {
  border-left: 3px solid #AAA;
  color: #777;
  padding-left: 1em;
  font-style: oblique;
}

.index {
  h1 {
    color: #777;
    margin-bottom: 0;
  }
  p { color: #777; }
}

.gatsby-highlight {
  margin-bottom: 1.45rem;
}

code {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  &::after {
    content: "";
  }
}
code::after {
  content: "";
}