@import "./constants.scss";
// $small: "only screen and (max-width: 420px)";
// $small: "only screen and (max-width: 320px)";

.logo-header {
  color: $color-text-gray;
}

.sidebar {
  /*background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  color: white;*/

  padding: 1rem;
  text-align: right;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 200px;
  color: $color-text-gray;

  @media #{$small} {
    display: none;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }
  a {
    font-size: 1.25rem;
  }
  .sidebar-inner {
    position: fixed;
    top: 1rem;
    .sidebar-profile-pic {
      height: 100px;
      width: 100px;
      margin: 0 auto;
      border-radius: 0.5rem;
      display: block;
    }
  }
}

.content {
  overflow: auto;
  flex-grow: 1;
  width: calc(100% - 200px);
  padding: 1em;
  padding-left: 1.5rem;
  padding-right: 6rem;
  margin-top: 1rem;

  @media #{$small} {
    width: 100%;
    padding-right: 1em;
    margin-top: 0em;
  }

  h1 {
    color: $color-primary;
  }
}

.header {
  display: none;
  padding: 1em;
  height: 62px;

  @media #{$small} {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0em;
    padding: 0.5rem;

    .links {
      // width: 90%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      margin-top: 0;
      padding-left: 1rem;
      height: 100%;
      align-items: center;

      li {
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }
    }

    .logo-header {
      margin-bottom: 0.25em;
      margin: 0 auto;
      display: flex;
      align-items: center;
      font-size: 1.5rem;

      img {
        height: 35px;
        width: 35px;
        margin-bottom: 0;
        margin-right: 0.5rem;
        border-radius: 0.5rem;
      }
    }

    h1 {
      flex-grow: 1;
    }
    h1,
    ul {
      display: inline-block;
      margin: 0;
    }
    ul {
      margin-top: 0.5em;
      font-size: 1.5em;
      li {
        font-size: 1.15em;
        display: inline-block;
        margin-right: 0.5em;
        margin-bottom: 0;
        &:last-child {
          margin-right: 0;
        }
        a {
          padding-right: 0;
          border-right: none;
          &.active {
            border-bottom: 2px solid $color-primary;
          }
        }
      }
    }
  }
}

@mixin tag() {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  font-weight: 700;
}

.post .meta .draft-tag {
  font-size: 125% !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  background-color: #d9534f;
  font-weight: 700;
  @include tag();
}

.tag-link {
  margin-right: 0.5em;
  &:only-of-type {
    margin-right: 0.1em;
  }
  @include tag();
}

pre code {
  padding: 0;
}

blockquote {
  background-color: #eee;
  padding: 1em;
  margin-left: 0;
  margin-right: 0;

  > *, > .gatsby-highlight {
    margin-bottom: 0.5rem;
  }

  @media #{$small} {
    margin-left: 0;
  }
}