$small: "only screen and (max-width: 420px)";
// $small: "only screen and (max-width: 320px)";

.logo-header {
  color: $color-text-gray;
}

.sidebar {
  /*background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  color: white;*/

  padding: 1rem;
  text-align: right;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 200px;
  color: $color-text-gray;

  @media #{$small} {
    display: none;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }
  a {
    font-size: 1.25rem;
  }
  .sidebar-inner {
    position: fixed;
    top: 1rem;
  }
}

.content {
  flex-grow: 1;
  width: calc(100% - 200px);
  padding: 1em;
  padding-right: 6rem;
  margin-top: 1rem;

  @media #{$small} {
    width: 100%;
    padding-right: 1em;
    margin-top: 0em;
  }

  h1 {
    color: $color-primary;
  }
}

.header {
  display: none;
  padding: 1em;

  @media #{$small} {
    display: flex;
    align-items: center;

    margin-bottom: 1em;
    h1{
      flex-grow: 1;
    }
    h1, ul {
      display: inline-block;
      margin:0;
    }
    ul {
      font-size: 1.5em;
      li {
        display: inline-block;
        margin-right: 0.5em;
        margin-bottom: 0;
        &:last-child {
          margin-right: 0;
        }
        a {
          padding-right: 0;
          border-right: none;
          &.active {
            border-bottom: 2px solid $color-primary;
          }
        }
      }
    }
  }
}

@mixin tag() {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  font-weight: 700;
}

.draft-tag {
  text-transform: uppercase;
  background-color: #d9534f;
  font-weight: 700;
  @include tag();
}

.tag-link {
  margin-right: 0.5em;
  &:only-of-type {
    margin-right: 0.1em;
  }
  @include tag();
}
